:root {
  --tiles-per-row: 4;
  --tile-size: 100px;
  --tile-margin: 10px;
  --tile-font-size: 50px;
}

body {
  font-family: sans-serif;
}

#board {
  width: calc(var(--tile-margin) + var(--tiles-per-row) * (var(--tile-margin) + var(--tile-size)));
  height: calc(var(--tile-margin) + var(--tiles-per-row) * (var(--tile-margin) + var(--tile-size)));
  background-color: aliceblue;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  line-height: var(--tile-size);
  text-align: center;
  font-size: var(--tile-font-size);
  position: absolute;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;
}

.animated-move {
  position: absolute;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}
